<!-- Technical Expertise -->
 <!--This div is used to enforce generation of below classes as text interpolation is runtime and tailwindcss classes are buildtime  -->
<div class="from-blue-500 from-green-500 from-purple-500 from-red-500 from-yellow-500 to-blue-700 to-green-700 to-purple-700 to-red-700 to-yellow-700"></div>
<section class="py-12 sm:py-20 px-4 bg-[#161B22]">
    <div
        class="max-w-6xl mx-auto opacity-0"
        [appIntersection]
        (viewChange)="animationService.handleViewChange($event, 'animate-fade-in')">
        <h2 class="text-2xl sm:text-3xl font-bold mb-8 sm:mb-16 text-center">
            Technical Expertise
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-8">
            @for (skillGroup of skillGroups; track $index) {
                <div
                    class="bg-[#21262D] rounded-lg p-6 transform hover:scale-[1.02] transition-all">
                    <div class="flex items-center gap-3 mb-6">
                        <span class="text-3xl">{{ skillGroup.icon }}</span>
                        <h3 class="text-xl font-bold">{{ skillGroup.category }}</h3>
                    </div>
                    <div class="space-y-4">
                        @for (skill of skillGroup.skills; track $index) {
                            <div>
                                <div class="flex justify-between text-sm mb-1">
                                    <span>{{ skill.name }}</span>
                                    <span class="text-gray-400">{{ skill.level }}%</span>
                                </div>
                                <div class="h-2 bg-[#30363D] rounded-full overflow-hidden">
                                    <div
                                        class="h-full bg-linear-to-r from-{{skillGroup.color}}-500 to-{{skillGroup.color}}-700  animate-expand origin-left"
                                        [ngStyle]="{ width: skill.level + '%' }"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <!-- Optional smaller summary row -->
        <div class="mt-8 text-sm text-gray-400 text-center">
            <span>Core: {{ coreSkills.join(' • ') }}</span>
        </div>
    </div>
</section>
